*{
    margin: 0;
 
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4af734;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: rgb(60, 60, 60);
    font-weight: bold;
    margin: 1em;
    padding-bottom: 1em;
    justify-content: center;
}

.cabecalho {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 20px;
    font-size: 22px;
}
  
.cabecalho img {
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 5%;
}

main {
    position: relative;
    background-color: rgb(248, 248, 248);
    width: fit-content;
    padding: 3rem;
    border-radius: 0.5em;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.container{
    margin-top: 2.5%;
    left: 50%;
    transform: translate(-50%);   
}

p, #titulo{
    color: rgb(50, 50, 50);
    text-align: center;
    margin-top: 1rem;
}

main input[type=text],
main input[type=email],
main input[type=date],
select{
    border: none;
    background-color: #efa3f1;
    cursor: text;
    border-radius: 0.4em;
    padding: 0.4em;
    font-size: 0.92em;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.linha1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: auto;
    grid-gap: 0.3em;
    margin: 1em;
}

.linha2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    grid-gap: 0.3em;
    margin: 1em;
}

.linha3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    grid-gap: 0.3em;
    margin: 1em;
}

.linha4{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: auto;
    grid-gap: 0.3em;
    margin: 1em;
}

.linha5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    grid-gap: 0.3em;
    margin: 1em;
}

.linha6{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    grid-row: auto;
    grid-gap: 0.3em;
    margin: 1em;
}

.linha7{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-row: auto;
    grid-gap: 0.3m;
    margin: 1em;
}

.campo{
    display: grid;
    padding: 0.5em;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
}

.campo input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.campo input:focus, .campo select:focus{
    background: #adfa9e;
}

.required::after{
    content:"*";
}

.botao{
    background-color: #e6279c;
    padding: 0.5em;
    font: 1em sans-serif;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.botao:hover {
    background: #00f80d; 
    transition: 0.3s;
}